a:link {
    text-decoration: none;
}

body {
    background: #fbfbf0 url("/static/whitey.png");
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#header {
    overflow: auto;
}

#header #title {
    font-family: 'Quando', serif;
    font-size: 50px;
    font-weight: bold;
}

#header #subtitle {
    margin-left: 80px;
    margin-top: 10px;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    float: left;
}

#header #contacts {
    margin-top: 10px;
    float: right;
}

#header .icon {
    height: 20px;
    width: 20px;
}

#content {
    min-height: 500px;
}

#content #navigator {
    overflow: auto;
}

#content #page_prev {
    float: left;
}

#content #page_next {
    float: right;
}

#footer {
    width: 1000px;
    padding-bottom: 40px;
}

#footer div#copyright {
    padding-top: 20px;
    text-align: center;
}

hr {
    height: 0;
    border: 0 dashed #808080;
    border-top-width: 1px;
}

.post {
    margin-top: 50px;
}

.time {
    font-size: 80%;
    margin-bottom: 20px;
    color: #808080;
}

img {
    width: 100%;
}
