{% extends "base.html" %}

{% block title -%}
{{ info.title }} - {{ config.title }}
{%- endblock %}

{% block content %}

<div>
    <form method="POST">
    {% if info.new == "1" %}
    <input type="hidden" name="new" value="{{ info.new }}"/>
    <div>title: <input type="text" name="title" /></div>
    {% else %}
    <div>title: <input type="text" name="title" value="{{ info.title }}"/></div>
    <div>date: <input type="text" name="date" value="{{ info.date }}" /></div>
    {% endif %}
    <div>slug:<input type="text" name="slug" /></div>
    <div>
        <textarea name="content" cols="80" rows="20">
        {{ info.content }}
        </textarea>
    </div>
    <div><input type="submit" value="Save" /></div>
    </form>
</div>

{% endblock %}